<div class="tile-body">
    <br>
    <br>
    <h4 style="padding-top: 20px;">Add Overal-risk-description</h4>
  
    <form [formGroup]="form" >
      <div class="row">
       
  
        <div class="form-group col-md-6">
          <label>Risk Name<span class="my_span"> *</span></label>
          <input type="text" formControlName="riskName" name="riskName" class="form-control"
            required="required">
        </div>
        <div class="form-group col-md-6">
          <label>Risk Description<span class="my_span"> *</span></label>
          <input type="text" formControlName="riskDescription" name="riskDescription" class="form-control"
            required="required">
        </div>
        
  
  
      </div>
      <div style="float: right;">
  
        <button type="submit" mat-button (click)="submit()" [disabled]="buttonDisabled" class="btn btn-info">Submit
        </button>
  
      </div>
    </form>
  </div>