<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Control Procedures/Requirements</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="' Add New Procedure'"
                                     [addLink]="'home/cma-management/procedures/create-procedures'"
                                     [approveLinkLabel] ="'Excute Procedure'"
                                     [approveLink]="'home/cma-management/procedures/approve-procedures'"
                                     [deleteLabel]="'Delete procedures'"
                                     [endpoint]="'procedures/delete/64/277'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Orders'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  