<div>
  <div class="page page-dashboard">
    <section class="tile">
      <div class="info-title">
        <h2>Procedures</h2>
      </div>
      <div class="tile-body">
        <app-functionality-buttons [addLabel]="' Add New Procedure'"
                                   [addLink]="'home/cma-management/procedures/create-procedures'"
                                  
                                   [deleteLabel]="'Delete procedures'"
                                   [endpoint]="'procedures/delete/64/64'"></app-functionality-buttons>
        <app-custom-datatable
          [endpoint]="endpoint"
          [hasCheckBox]="hasCheckBox"
          [cols]="cols"
          [idColumn]="idColumn"
          [hasShowEntries]="true"
          [fileName]="'Orders'"
          [canExport]="true"
          [filterParams]="'Full Name, Phone Number, Email'"
          [isFilterPresent]="true"
          [params]="params"
          [routeView]="routeView"
        ></app-custom-datatable>
      </div>
    </section>
  </div>
</div>


