<div>
  <div class="page page-dashboard">
    <section class="tile">
      <div class="info-title">
        <h2>Orders</h2>
      </div>
      <div class="tile-body">
        <app-functionality-buttons [addLabel]="'New order'"
                                   [addLink]="'home/user-management/users/create-order'"
                                   [approveLinkLabel]="'Approve'"
                                   [approveLink]="'home/user-management/users/approve-user'"
                                   [deleteLabel]="'Disable Order'"
                                   [endpoint]="'fortis/rest/v2/services/fortis_DisableUserService/disableUser'"></app-functionality-buttons>
        <app-custom-datatable
          [endpoint]="endpoint"
          [hasCheckBox]="hasCheckBox"
          [cols]="cols"
          [idColumn]="idColumn"
          [hasShowEntries]="true"
          [fileName]="'Orders'"
          [canExport]="true"
          [filterParams]="'Full Name, Phone Number, Email'"
          [isFilterPresent]="true"
          [params]="params"
          [routeView]="routeView"
        ></app-custom-datatable>
      </div>
    </section>
  </div>
</div>


