<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Users</h2>
        </div>
        <div class="tile-body">

          <app-functionality-buttons 
          [addLabel]="'New User'"
          [addLink]="'home/cma-management/create-cma-user'">
        </app-functionality-buttons>
         
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Users'"
            [canExport]="true"
            [filterParams]="'First Name, Other Name, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  