<div class="page page-core">
  <div class="container w-420 p-35 mt-40 text-center log-form">
    <!-- <img src="assets/new-fortis-logo-login.png" style="height:20%;"/> -->
    <section>
      <br>
      <h4 class="trynot text-login">Login</h4>
      <form (ngSubmit)="onLoggedin(loginForm)" #loginForm="ngForm" role="form"
            class="form-validation">
        <div class="form-group">
          <label for="email"> Email  <span class="my_span"> *</span></label>
          <input type="email" id="email" class="form-control" [(ngModel)]="login.username" name="email"

                 required="required" placeholder="Email" #email="ngModel">
          <div *ngIf="(email.dirty || email.touched) && email.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="email.errors.required">
                    Email Address is required.
                  </span>
            <span class="invalid-input" *ngIf="email.errors.pattern">
                    Email must be a valid email address
                  </span>
          </div>
        </div>
        <div class="form-group">
          <label for="password" >Password  <span class="my_span"> *</span></label>
          <input type="password" id="password" placeholder="******" [(ngModel)]="login.password" name="password"
                 required="required" class="form-control"  #password="ngModel">
          <div *ngIf="(password.dirty || password.touched) && password.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="password.errors.required">
                    Password is required.
                  </span>
          </div>
        </div>
        <div class="form-group">
          <a routerLink="/forgot-password" class="forgot pull-left forgot-pass">Forgot Password?</a>
          <button [disabled]="!loginForm.form.valid" class="save-button btn-block" mat-stroked-button type="submit">
            Login
          </button>
        </div>
      </form>
      <br>
      <br>
    </section>
  </div>
</div>

