<div>
  <div class="page page-dashboard">
    <section class="tile">
      <div class="info-title">
        <h2>Workgroups</h2>
      </div>
      <div class="tile-body">
        <app-functionality-buttons [addLabel]="'New Workgroup'"
                                   [addLink]="'home/user-management/workgroups/create-workgroup'"
                                   [approveLinkLabel]="'Approve'"
                                   [approveLink]="'home/user-management/workgroups/approve-workgroup'"
                                   [deleteLabel]="'Delete'"
                                   [endpoint]="'fortis/rest/v2/services/fortis_DisableWorkGroupService/DeleteWorkGroup'"></app-functionality-buttons>
        <app-custom-datatable
          [endpoint]="endpoint"
          [hasCheckBox]="hasCheckBox"
          [cols]="cols"
          [idColumn]="idColumn"
          [hasShowEntries]="true"
          [fileName]="'Workgroups'"
          [canExport]="true"
          [filterParams]="'Workgroup, Description'"
          [isFilterPresent]="true"
          [params]="params"
          [routeView]="routeView"
        ></app-custom-datatable>
      </div>
    </section>
  </div>
</div>

