.add {
  background-color: #B24592;
  color: white;
  margin-right: 1em;
  text-decoration: none
}

.approve {
  background-color: white;
  color: #82bf00;
  margin-right: 1em;
  text-decoration: none
}

.decline {
  background-color: #fff;
  color: #82bf00;
  margin-right: 1em;
  text-decoration: none
}

.delete {
  background-color: #E71C23;
  color: #fff;
  margin-right: 1em;
  text-decoration: none
}

.fa-check:before {
  content: "\f00c";
  font-size: 18px;
  padding-right: 4px;
}

.fa-times:before {
  content: "\f00d";
  font-size: 20px;
  padding-right: 4px;
}

.fa-plus:before {
  content: "\f067";
  font-size: 18px;
  padding-right: 6px;
}

