<div class="dataTables_length row form-group" id="basic-usage_length">
  <label for="length-select" *ngIf="hasShowEntries"
         style="font-size: 14px; font-weight: bold; margin-top: 36px; margin-right: 4px; margin-left: 14px;">
    Show: </label>
  <select id="length-select" (change)="refilterTable()" [(ngModel)]="page_size" aria-controls="basic-usage"
          class="col-lg-1" name="basic-usage_length" *ngIf="hasShowEntries">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="250">250</option>
    <option value="500">500</option>
  </select>
  <!-- <app-date-filter (submitForm)="filterById($event)" [filterParams]="filterParams" *ngIf="isFilterPresent">
  </app-date-filter> -->
</div>
<!-- <br> -->
<div class="pull-right" *ngIf="canExport">
  <button mat-stroked-button class="excel" (click)="export('xlsx')">Export Excel</button>
  <button mat-stroked-button class="pdf" (click)="export('pdf')">Export PDF</button>
</div>
<br>
<table datatable [dtOptions]="dtOptions" class="table table-custom dt-responsive" id="custom-datatable"
       style="width: 100%"
       #custom_dt>
  <thead>
  <tr>
    <th *ngIf="hasCheckBox" class="select-checkbox" style="text-align :center">
      <input type="checkbox" class="select-all-checkbox border-#{000000}"/>
    </th>
    <th *ngFor="let col of colTitle;">{{col.title}}</th>
  </tr>
  </thead>
</table>
