<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Control attributes</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons [addLabel]="' Add New procedure-execution-attributes'"
                                     [addLink]="'home/cma-management/procedure-execution-attributes/create-procedure-execution-attributes'"
                                    
                                     [deleteLabel]="'Delete procedure-execution-attributes'"
                                     [endpoint]="'procedure-execution-attributes/delete/64/277'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Orders'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  