<div class="page page-core">
  <div class="container w-420 p-35 mt-40 text-center log-form">
    <img src="assets/new-fortis-logo-login.png" style="height:20%;"/>
    <section>
      <br>

      <h4 class="trynotr text-login">Password assistance</h4>
      <h6 class="trynotr1 text-login">Enter your email address.</h6>
      <h6 class="trynotr1 text-login">To verify the user, we will send you a First Time use password.</h6>
      <br>
      <form class="form" (ngSubmit)="resetPass(resetForm)" #resetForm="ngForm" role="form"
            class="form-validation">
        <div class="form-group col-md-12">
          <label for="email">Email  <span class="my_span"> *</span></label>
          <input type="email" class="form-control borders" [(ngModel)]="model.username" name="username"
                 pattern="([A-Za-z0-9_\-\.]+)@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,3})$"
                 required="required" placeholder="Email" id="username"  #email="ngModel">
          <div *ngIf="(email.dirty || email.touched) && email.invalid" class="text-danger">
                  <span class="invalid-input" *ngIf="email.errors.required">
                    Email Address is required.
                  </span>
            <span class="invalid-input" *ngIf="email.errors.pattern">
                    Email must be a valid email address
                  </span>
          </div>
        </div>
        <div class="form-group col-md-12">
          <a routerLink="/login" class="trynot pull-left back-login">Back to Login</a>
          <button [disabled]="!resetForm.form.valid" class="save-button btn-block" mat-stroked-button type="submit">
            Reset Password
          </button>
        </div>
        <div class="form-group col-md-12 text-left">
          <!-- <p><span class="custom_span">For Help Call:</span> 072993440</p> -->
        </div>
      </form>
      <br>
      <br>
    </section>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col">Contact Us</div>
        <div class="col">Privacy</div>
        <div class="col">Legal</div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

