<div>
    <div class="page page-dashboard">
      <section class="tile">
        <div class="info-title">
          <h2>Customer orders</h2>
        </div>
        <div class="tile-body">
          <app-functionality-buttons 
                                     [approveLinkLabel]="'Verify order'"
                                     [approveLink]="'home/cma-management/orders/approve-orders'"
                                     [endpoint]="'customer-order/verify'"
                                     [deleteLabel]="'Delete order'"
                                     [endpoint]="'customer-order/delete/99'"></app-functionality-buttons>
          <app-custom-datatable
            [endpoint]="endpoint"
            [hasCheckBox]="hasCheckBox"
            [cols]="cols"
            [idColumn]="idColumn"
            [hasShowEntries]="true"
            [fileName]="'Orders'"
            [canExport]="true"
            [filterParams]="'Full Name, Phone Number, Email'"
            [isFilterPresent]="true"
            [params]="params"
            [routeView]="routeView"
          ></app-custom-datatable>
        </div>
      </section>
    </div>
  </div>
  
  
  